rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /keresek/{docId} {
      allow read, write: if true;
    }
    match /jelszavak/{docId} {
      allow read, write: if true;
    }
  }
}
